body{ 
    padding: 20px;
    background-color: #f4f4f9;
  }
  h1,h2,h3, h4,p,pre,input, button, label,span{
    font-family: 'Nunito' ,'Courier New', Courier, monospace ;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header h1 {
    align-items: center;
    font-weight: 800;
    font-size: 1.9em;
    justify-content: center;
    color: #333000;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
 
  #result {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }
  .button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .button-container button {
    width: 30%;
  }

  .resultReq{
    font-weight: 500;
    margin-top: 20px;
  }

  .titleResponse h4{
    text-align: center;
    
  }

  .mobile{
    display: flex;
    width: 100vw;
    gap: 15px;
  }

  @media screen and (max-width: 780px) {
    .input-group{
      gap: 15px;
    }

    .mobile{
      display: flex;
    }

    header h1{
      text-align: center;
    }

    .titleResponse{
      font-size: 18px;
    }
    
  }